body {
  overflow-x: hidden;
  color: #505962;
}

.hidden {
  opacity: 0;
}

/* Slant Left to Right at Bottom */

/* padding-bottom: 100px;
-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px)); */

/* Slant Left to Right at Top */

/* padding-top: 100px;
-webkit-clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%);
clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%); */

/* Double Slant to Right */

/* padding-top: 100px;
padding-bottom: 100px;
-webkit-clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 calc(100% - 100px));
clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 calc(100% - 100px)); */

/* Double Slant to Left */

/* padding-top: 100px;
padding-bottom: 100px;
-webkit-clip-path: polygon(0 100px, 100% 0, 100% 100%, 0 calc(100% - 100px));
clip-path: polygon(0 100px, 100% 0, 100% calc(100% - 100px) , 0 100%); */

/*============= NAVIGATION =============*/

.navbar {
  padding: 40px 3rem;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 700;
  letter-spacing: .1rem;
  transition: background-color .5s ease 0s;
  background: rgba(0, 0, 0, 0.4);
}

.navbar-brand {
  text-decoration: none;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
  color: #135aff;
}

.navbar-brand img {
  height: 2rem;
}

.svg-inline--fa.fa-w-14 {
	color: white;
	font-size: 2rem;
}

.navbar-nav li {
  padding-right: .8rem;
}

.navbar-nav .nav-link {
  color: #191a1d;
  padding-top: .8rem;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: #135aff;
}

.navbar.solid {
  background: rgba(0, 0, 0, 0.7)!important;
  transition: background-color 1s ease 0s;
}

.navbar-brand {
  color: #135aff;
}

/*============= HERO =============*/


.hero-body h1 {
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .2rem;
}

.hero-body h3 {
  color: white;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 400;
  text-shadow: .1rem .1rem .5rem black;
  letter-spacing: .2rem; 
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: .8rem 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block!important;
  letter-spacing: .1rem;   
}

.hero-foot img.is-bottom {
  margin-bottom: -0.4rem;
}

/*============= BIO SECTION =============*/


/*============= EXPERTISE SECTION =============*/



/*===== FIXED BACKGROUND IMG DARK =====*/

.resume {
  background: #135aff; /* #135aff #2667ff */
  padding-top: 200px;
  padding-bottom: 200px;
  -webkit-clip-path: polygon(0 100px, 100% 0, 100% 100%, 0 calc(100% - 100px));
  clip-path: polygon(0 100px, 100% 0, 100% calc(100% - 100px) , 0 100%);
}

.resume p {
  margin-bottom: 2rem;
}

.resume h2, .resume p {
  color: #E9ECEF;
}

.resume h3, .resume p {
  color: #E9ECEF;
  font-size: 1.4rem;
}

.view {
  display: none;
}

.modal-dialog {
  max-width: 90%;
}

/*============= PORTFOLIO SECTION =============*/



/*============= CONTACT SECTION =============*/

footer {
  background: linear-gradient(
              rgba(57, 63, 70, 0.85), 
              rgba(57, 63, 70, 0.85)),
              url('../img/footer.png') no-repeat;
  background-size: cover;
  color: white;
  padding-top: 100px;
  -webkit-clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%);
}

footer .row {
  padding: 1rem 2rem 1.5rem;
}

footer .row p {
  margin-bottom: 0;
}

footer .personal {
  padding-left: 30%;
  margin-top: 1.5rem;
}

.avatar {
  border-radius: 50%;
  margin-bottom: 2rem;
}

.contact {
  padding-left: 1.75rem;
}

.contact-underline {
  width: 3rem;
  height: .4rem;
  background-color: #135aff;
  margin: 1rem 0 1rem 3.5rem;
}

footer a {
	color: white;
	text-decoration: none;
}

footer svg.svg-inline--fa {
	font-size: 1.6rem;
	margin: 1.2rem 0.5rem 0 -3rem;
}

#email,
#git,
#linkedin {
  font-size: 2rem;
  margin: 0 .6rem .6rem .6rem;
}

footer svg.svg-inline--fa:hover {
  color: #135aff!important;
  transition: .6s;
}

.city {
  margin-left: .6rem;
}

footer h2 {
  text-transform: uppercase;
  margin: 1.5rem 0;
  padding-bottom: 1.5rem;
  font-size: 1.3rem;   
}

footer h3 {
  text-transform: uppercase;
  margin: 1.5rem 0;
  font-size: 1.3rem;  
}

footer ul {
	margin: 0rem;
	font-size: 1rem;
	letter-spacing: .1rem;
	list-style-type: none;
	text-decoration: none;
	width: auto;
	height: auto;
	display: block;
}

footer li {
	text-decoration: none;
	font-size: 1rem;
	letter-spacing: .1rem;
}

/*============= CONTACT FORM =============*/

/*============= CSS LINKED IN FORM.CSS =============*/



hr.socket {
  border-top: .2rem solid #666b71;
  width: 100%;
}

/*============= TOP SCROLL =============*/



.top-scroll svg.svg-inline--fa {
  font-size: 3rem;
  height: 1.7rem;
  color: #53595f;
  background: white;
}

a.top-scroll {
  right: 1.2rem;
  bottom: 1.2rem;
  position: fixed;
  opacity: .3;
  z-index: 1000;
  display: none;
}

a.top-scroll:hover {
  opacity: .5;
}

footer .row p {
	font-family: Roboto Slab;
	letter-spacing: 0.075rem;
}

#contact-form .controls .btn.btn-outline-light.btn-sm.os-animation {
	letter-spacing: 0.075rem;
	margin-bottom: 3rem;
}



/*============= MEDIA QUERIES =============*/
/* Devices over 576px (sm) */
@media (min-width: 576px) {
  footer .personal {
    padding-left: 37%;
  }
}

/* Devices over 768px (md) */
@media (min-width: 768px) {
  .hero-foot img.is-bottom {
    max-width: 860px;
    margin-bottom: 0.45rem;
  }

  footer .personal {
    padding-left: 5%;
  }

  .text {
    font-size: 1rem;
  }

  .modal-dialog {
    max-width: 80%;
  }
}

/* Devices over 992px (lg) */
@media (min-width: 992px) {
  .view {
    display: inline;
  }

  footer .personal {
    padding-left: 10%;
    
  }
}

/* Devices over 1200px (xl) */
@media (min-width: 1200px) {
  .modal-dialog {
    max-width: 50%;
  }
}

/* @media screen and (min-width: 671px) {
  .slanted,
  .bg-slanted {
   padding-top:100px;
   padding-bottom:100px;
   -webkit-clip-path:polygon(0 0, 100% 100px, 100% 100%, 0 calc(100% - 100px));
   clip-path:polygon(0 0, 100% 100px, 100% 100%, 0 calc(100% - 100px))
  }
  .slanted-top,
  .site-cta {
   padding-top:100px;
   background-color:#191a1d;
   -webkit-clip-path:polygon(0 0, 100% 100px, 100% 100%, 0 100%);
   clip-path:polygon(0 0, 100% 100px, 100% 100%, 0 100%)
  }
  .slanted-bottom,
  .site-banner--dark {
   padding-bottom:100px;
   -webkit-clip-path:polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
   clip-path:polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px))
  }
 }
 @media screen and (max-width: 670px) {
  .slanted,
  .bg-slanted {
   padding-top:50px;
   padding-bottom:100px;
   -webkit-clip-path:polygon(0 0, 100% 50px, 100% 100%, 0 calc(100% - 50px));
   clip-path:polygon(0 0, 100% 50px, 100% 100%, 0 calc(100% - 50px))
  }
  .slanted-top,
  .site-cta {
   padding-top:50px;
   background-color:#191a1d;
   -webkit-clip-path:polygon(0 0, 100% 50px, 100% 100%, 0 100%);
   clip-path:polygon(0 0, 100% 50px, 100% 100%, 0 100%)
  }
  .slanted-bottom,
  .site-banner--dark {
   padding-bottom:50px;
   -webkit-clip-path:polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 50px));
   clip-path:polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 50px))
  }
 } */



/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
