/* ============================================= */
/*                    COLORS                     */
/* ============================================= */

$white: #fff;

$color-primary: #ea2d2d;
$color-secondary: #2f353a;

$text-shadow: 0 0 5px #000;

/* ============================================= */
/*                     FONT                      */
/* ============================================= */

$font-family: 'Spartan';

/* ============================================= */
/*                BREAK POINT                    */
/* ============================================= */

$break: 992px;